# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug
/GraphPlotter/Debug/GraphPlotter.tlog
/GraphPlotter/Debug
/ipch/GRAPHPLOTTER-25ee415f
/GraphPlotter.VC.db
/GraphPlotter/x64/Debug/GraphPlotter.tlog
/ipch/GRAPHPLOTTER-6be9a184
/x64/Debug
/GraphPlotter.VC.VC.opendb
/GraphPlotter/x64/Debug
